.back {
  background-image: url("https://gifdb.com/images/high/nature-scape-background-0qbnrjv0gc7ym66i.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
