.container
{
    background-color: black;
    border: 2px solid black;
    width: 502px;
    display: grid;
    grid-template-rows: 30px 500px 30px;
    grid-template-columns: 100px 400px;
    grid-gap: 2px;

    grid-template-areas: 
    "hd hd"
    "sd content"
    "footer footer";
}

.box
{
    background-color: yellow;
}

#Header
{
    grid-area: hd;
}

#Sidebar
{
    grid-area: sd;
}

#Content
{
    grid-area: content;
}

#Footer
{
    grid-area: footer;
}